modules = ["nodejs-24", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["stripe:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3000

[[ports]]
localPort = 25691
externalPort = 3001

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
PAYPAL_CLIENT_ID = "AdeGi-cc80nutzF0l0Setlp5oYh647sAzn9IxbbupeTDpxtve-uoRuqF0Ht_C-tfCqY0hhr236a3zoF7"
PAYPAL_CLIENT_SECRET = "EJ0RFfuBBB1JTMddooysXRc_tPpLNf3kiHh0jp50fnaYOqmDQ_bhrtnkoGUp74sEgriMiUJ0jYFlqxHC"
PAYPAL_ENV = "sandbox"
