modules = ["nodejs-24", "postgresql-16", "python-3.11"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["stripe:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3000

[[ports]]
localPort = 25691
externalPort = 3001

[nix]
channel = "stable-25_05"
packages = ["iproute2"]

[userenv]

[userenv.shared]
PAYPAL_CLIENT_ID = "AdeGi-cc80nutzF0l0Setlp5oYh647sAzn9IxbbupeTDpxtve-uoRuqF0Ht_C-tfCqY0hhr236a3zoF7"
PAYPAL_ENV = "sandbox"
STRIPE_PRICE_ID_PRO = "price_1TVnl0Q1HZEPWtPFbKeN6wTJ"
STRIPE_PRICE_ID_ENTERPRISE = "price_1TVocPQ1HZEPWtPFJWvKPzaI"
STRIPE_PUBLISHABLE_KEY = "pk_test_51TViM9Q1HZEPWtPFhHM9487hAD6q4vjkGpGue96Dbw2KEAxrChpKLCrjX4PhRNCBMzeaE7Mrvjb9F5Wgu7lvfz5X00XIasTlfX"
PAYPAL_PLAN_ID_PRO = "P-7C244895VH602124UNIBFCZI"
PAYPAL_PLAN_ID_ENTERPRISE = "P-68953510C9382634TNIBFEMQ"
PAYPAL_WEBHOOK_ID = "6GY26187L3701812X"
